---
layout: default
title: "Cure"
---

{% for post in paginator.posts %}
  <article class="post">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h2>
    <p class="post-date">{{ post.date | date: "%-d %B %Y" }}</p>

    <div class="post-content">
      {{ post.content }}
    </div>
  </article>

  {% unless forloop.last %}<hr>{% endunless %}
{% endfor %}

<nav class="pager">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="prev" href="{{ '/' | relative_url }}">« Back in time</a>
    {% else %}
      <a class="prev" href="{{ '/page' | append: paginator.previous_page | append: '/' | relative_url }}">« Back in time</a>
    {% endif %}
  {% endif %}

  {% if paginator.next_page %}
    <a class="next" href="{{ '/page' | append: paginator.next_page | append: '/' | relative_url }}">Forward in time »</a>
  {% endif %}
</nav>
