---
layout: default
---

<section class="post-row">
  <div class="meta">
    <div>{{ page.date | date: "%d/%m/%Y" }}</div>
    <span class="sep"></span>
    <div><a href="#comments">Poster un commentaire</a></div>
  </div>

  <article class="post">
    <h2>{{ page.title }}</h2>

    {%- if page.youtube_id -%}
      {%- unless page.content contains '<iframe' -%}
        {%- include yt.html id=page.youtube_id -%}
      {%- endunless -%}
    {%- endif -%}

    {{ content }}
  </article>
</section>
